<form [formGroup]="limitsForm" (ngSubmit)="onSubmit()">
  Обмеження
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="forBoyOnly">Лише хлопцю
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="forGirlOnly">Лише дівчині
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="forFamilyOnly">Лише сім'ї
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="withoutChildren">Без дітей
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="notForStudents">Не студентам
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="withoutPets">Без домашніх улюблеців
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="notForSmokingPeople">Людям, які не палять
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="notForForeigners">Не іноземцям
  </label>
</form>

<!--
<div class="properties-group">
  <h3 class="properties-group__header">Обмеження</h3>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Лише хлопцю
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Лише дівчині
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Лише сім'ї
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Без дітей
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Не студентам
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Без домашніх улюблеців
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Людям, які не палять
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Не іноземцям
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
</div>
-->
