<div class="properties-group">
  <h3 class="properties-group__header">Кухонна та побутова техніка</h3>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Плита
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Посудомийна машина
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Духовий шкаф
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Пральна машина
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Мікрохвильова піч
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Холодильник
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Сушилка для одягу
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Праска
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Пилосос
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Кондеціонер
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Фен
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
</div>
