<div class="properties-group">
  <h3 class="properties-group__header">Де знаходиться ваше помешкання?</h3>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label" for="">Область</label><input class="text-input" type="text">
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label" for="">Місто/село</label><input class="text-input" type="text">
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label" for="">Вулиця</label><input class="text-input" type="text">
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label" for="">Дім</label><input class="text-input" type="text">
    </div>
    <span class="property__descr"></span>
  </div>
</div>
