<app-tabs [tabs]="tabs" [currentTab]="currentTab" (showingTabListener)="showTab($event)"></app-tabs>
<app-room #room *ngIf="currentTab.id === 'room'"></app-room>
<app-guests-and-beds #guests *ngIf="currentTab.id === 'guests-and-beds'"></app-guests-and-beds>
<app-bathroom #bathroom *ngIf="currentTab.id === 'bathroom'"></app-bathroom>
<app-household-appliances #householdAppliances *ngIf="currentTab.id === 'household-appliances'"></app-household-appliances>
<app-facilities #facilities *ngIf="currentTab.id === 'facilities'"></app-facilities>
<app-limits *ngIf="currentTab.id === 'limits'"></app-limits>
<app-location *ngIf="currentTab.id === 'location'"></app-location>
<app-map *ngIf="currentTab.id === 'map'"></app-map>
<app-action-buttons
  (goingToNextTabEvent)="showNextTab($event)"
  (goingToPrevTabEvent)="showPrevTab($event)"></app-action-buttons>
