<form [formGroup]="facilitiesForm" (ngSubmit)="onSubmit()">
  Які зручності ви пропонуєте?
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="essentialThings">Предмети першої необхідності
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="internet">Інтернет
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="tv">TV
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="heating">Опалення
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="workplace">Стіл/робоче місце
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="fireplace">Камін
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="balcony">Балкон/лоджія
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="parkingPlace">Парковка/гараж
  </label>
  Безпека
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="smokeDetector">Датчик диму
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="carbonMonoxideDetector">Датчик чадного газу
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="firstAidKit">Аптечка першої допомоги
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="extinguisher">Вогнегасник
  </label>
  <label style="display: block">
    <input class="checkbox" type="checkbox" formControlName="lockingDoors">Двері в спальню запераються
  </label>
</form>

<!--
<div class="properties-group">
  <h3 class="properties-group__header">Які зручності ви пропонуєте?</h3>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Предмети першої необхідності
      </label>
    </div>
    <span class="property__descr">полотенця, постільний комплект, мило, туалетний папір, шампунь</span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Інтернет
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        TV
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Опалення
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Стіл/робоче місце
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Камін
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Балкон/лоджія
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Парковка/гараж
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <h3 class="properties-group__header">Безпека</h3>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Датчик диму
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Датчик чадного газу
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Аптечка першої допомоги
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Вогнегасник
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
  <div class="property">
    <span class="property__name"></span>
    <div class="property__fields">
      <label class="input-label">
        <input class="checkbox" type="checkbox">
        Двері в спальню запераються
      </label>
    </div>
    <span class="property__descr"></span>
  </div>
</div>
-->
