<div class="rent-editor">
  <div class="rent-editor__properties">
    <div class="properties-group" *ngIf="stepform.isFieldset(1)">
      <h3 class="properties-group__header">Яке житло ви здаєте?</h3>
      <div class="property">
        <span class="property__name">Тип помешкання</span>
        <div class="property__fields">
          <select class="select" name="place-type" id="">
            <option class="select-option" class="" value="stub">виберіть варіант</option>
            <option class="select-option" value="private_place">Приватний будинок</option>
            <option class="select-option" value="hostel">Багатоповерхівка/гуртожиток</option>
          </select>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name">Тип здачі</span>
        <div class="property__fields">
          <select class="select" name="place-type" id="">
            <option class="select-option" class="" value="stub">виберіть варіант</option>
            <option class="select-option" value="private_place">Все помешкання</option>
            <option class="select-option" value="hostel">Кімната</option>
            <option class="select-option" value="hostel">Ліжкомісце</option>
          </select>
        </div>
        <span class="property__descr"></span>
      </div>
    </div>
    <div class="properties-group" *ngIf="stepform.isFieldset(2)">
      <h3 class="properties-group__header">Скільки гостей вміщує ваще житло?</h3>

      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <div class="input-step-number">
            <span class="input-label">Гості</span>
            <button class="btn input-number__subtract-btn">-</button>
            <span class="input-number__value">1</span>
            <button class="btn input-number__add-btn">+</button>
          </div>
        </div>
        <span class="property__descr"></span>
      </div>

      <div class="property">
        <span class="property__name">Скількома ліжками можуть користуватися гості?</span>
        <div class="property__fields">
          <div class="input-step-number">
            <span class="input-label">Кількість ліжок</span>
            <button class="btn input-number__subtract-btn">-</button>
            <span class="input-number__value">1</span>
            <button class="btn input-number__add-btn">+</button>
          </div>
        </div>
        <span class="property__descr"></span>
      </div>

      <div class="property">
        <span class="property__name">Скількома спальнями можуть користуватися гості?</span>
        <div class="property__fields">
          <select class="select" name="bedrooms-amount">
            <option class="select-option" value="1">1 спальня</option>
            <option class="select-option" value="2">2 спальні</option>
            <option class="select-option" value="3">3 спальні</option>
            <option class="select-option" value="4">4 спальні</option>
            <option class="select-option" value="5">5 спалень</option>
          </select>
        </div>
        <span class="property__descr"></span>
      </div>
    </div>

    <div class="properties-group" *ngIf="stepform.isFieldset(3)">
      <h3 class="properties-group__header">Який санвузол доступний гостям?</h3>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Туалет звичайний
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Туалет у дворі
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Ванна/душ
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Джакузі
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Бассейн
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
    </div>

    <div class="properties-group" *ngIf="stepform.isFieldset(4)">
      <h3 class="properties-group__header">Кухонна та побутова техніка</h3>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Плита
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Посудомийна машина
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Духовий шкаф
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Пральна машина
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Мікрохвильова піч
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Холодильник
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Сушилка для одягу
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Праска
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Пилосос
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Кондеціонер
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Фен
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
    </div>

    <div class="properties-group" *ngIf="stepform.isFieldset(5)">
      <h3 class="properties-group__header">Які зручності ви пропонуєте?</h3>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Предмети першої необхідності
          </label>
        </div>
        <span class="property__descr">полотенця, постільний комплект, мило, туалетний папір, шампунь</span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Інтернет
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            TV
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Опалення
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Стіл/робоче місце
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Камін
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Балкон/лоджія
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Парковка/гараж
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <h3 class="properties-group__header">Безпека</h3>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Датчик диму
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Датчик чадного газу
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Аптечка першої допомоги
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Вогнегасник
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Двері в спальню запераються
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
    </div>
    <div class="properties-group" *ngIf="stepform.isFieldset(6)">
      <h3 class="properties-group__header">Обмеження</h3>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Лише хлопцю
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Лише дівчині
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Лише сім'ї
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Без дітей
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Не студентам
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Без домашніх улюблеців
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Людям, які не палять
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label">
            <input class="checkbox" type="checkbox">
            Не іноземцям
          </label>
        </div>
        <span class="property__descr"></span>
      </div>
    </div>
    <div class="properties-group" *ngIf="stepform.isFieldset(7)">
      <h3 class="properties-group__header">Де знаходиться ваше помешкання?</h3>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label" for="">Область</label><input class="text-input" type="text">
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label" for="">Місто/село</label><input class="text-input" type="text">
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label" for="">Вулиця</label><input class="text-input" type="text">
        </div>
        <span class="property__descr"></span>
      </div>
      <div class="property">
        <span class="property__name"></span>
        <div class="property__fields">
          <label class="input-label" for="">Дім</label><input class="text-input" type="text">
        </div>
        <span class="property__descr"></span>
      </div>
    </div>
    <div class="properties-group" *ngIf="stepform.isFieldset(8)">
      <h3 class="properties-group__header">Вказівник знаходиться в потрібному місці?</h3>
      <div class="property">
        <span class="property__name">Якщо потрібно, перемістіть вказівник на мапі на інше місце.</span>
        <div class="property__fields">
          <div class="map"></div>
        </div>
        <span class="property__descr">Паризької комуни, 7, Черкаська обл.</span>
      </div>
    </div>
  </div>
  <div class="rent-editor__info"></div>
  <div class="rent-editor__actions">
    <button class="btn rent-editor-btn-prev"
            (click)="stepform.prevFieldset()"
            *ngIf="!stepform.firstFieldset()">Назад</button>
    <button class="btn rent-editor-btn-next"
            (click)="stepform.nextFieldset()"
            *ngIf="!stepform.lastFieldset()">Далі</button>
    <button class="btn rent-editor-btn-done"
            (click)="done()"
            *ngIf="stepform.lastFieldset()">Готово</button>
  </div>
</div>
