.calendar-container{
  position: relative;
  display: inline-block;

}
.calendar{
  width: 300px;
  position: absolute;
  display: none;
  top: 100%;
  transform: translateX(-50%);
  background-color: #fff;
}
.day-bar{
  width: calc(100% / 7);
  height: 20px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: default;
  box-sizing: border-box;
}
.day-bar:hover{
  border: 2px solid cyan;
}
.day-of-another-month{
  color: lightgrey;
}
.days-container{
  display: inline-block;
}
.calender-header{
  display: flex;
  justify-content: space-between;
}
.selected-date{
  background-color: darkcyan;
}
.last-clicked{
  border: 2px solid cyan;
}
.visible{
  display: inline-block;
}
.calender-icon{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: #40bfd0;

}
.btn-calendar{
  display: inline-block;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
